.card {
  box-sizing: border-box;
  border: 1px solid #495057;
  border-radius: 18px;
  background-color: rgba(255, 166, 158, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-body,
.card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.starButtonActive {
  background-image: url("../Assets/star-active.svg");
}
.fa-solid.fa-heart,
.fa-light.fa-heart,
.fa-light.fa-xmark {
  height: auto;
  width: 50px;
  border: none;
  background: none;
}
