form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

input,
button {
  font-family: "Indie Flower", cursive;
  margin: 5px;
  width: 400px;
  border: 1px solid 495057;
  font-size: 16px;
}

.description {
  height: 150px;
}
